details {
  width: 100vh;
  background-color: rgb(237, 237, 237);

}

summary {
  font-size: 20px;
  background-color: rgba(179, 179, 179, 0.695);
}

p{
  background-color: rgba(240, 248, 255, 0.585);
}