details {
  width: 100vh;
  background-color: rgb(237, 237, 237);
  font-size: 20px;
}

summary {
  
  background-color: rgba(179, 179, 179, 0.695);
}

p{
  background-color: rgba(240, 248, 255, 0.585);
}

dl {
  background-color: rgba(0, 0, 0, 0.136);
}

dt {
  background-color: rgba(0, 0, 0, 0.179);
}

dd {
  background-color:rgba(0, 0, 0, 0.348);
}